@import "./bootstrap-grid.rtl.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./font.css";



.max-w-s {
    max-width: 15rem;
}

.Pointer{
    cursor: Pointer;
}

body{
    font-family: IRANSans !important;
}

.btn {
    letter-spacing: -0.2px;
    font-size: 16px;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 29px;
    padding: 16px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
  }
